@media (max-width : 700px) and (min-width:400px){
    .container-app{
        min-height:100%
    }
    .container-app aside{
        width:100%;
        flex-direction: row;
        justify-content: space-between;
    }
    .container-app aside ul{
        display:flex;
        justify-content: end;
    }
    .container aside img{
        display: block;
        margin:auto;
    }
    .container-app main{
        width:100%;
    }
    
    .container-app main h4{
        text-wrap: wrap;
        width:50%;
    
    }
    .container-app main  .card{
        width:50%;
    }
}